.aboutMe {
  width: calc(100% - 10rem);
  margin: 50px;
  padding: 30px;
  background: #e8e8e8;
}

@media (max-width: 1140px) {
  .aboutMe {
    margin: 25px;
  }
}

.aboutMeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rainbowContainer {
  display: inline-block;
  /* box-shadow: #0271bc 0px 0px 0px 3px, #1fc11b 0px 0px 0px 6px,
    #ffd913 0px 0px 0px 9px, #ff9c55 0px 0px 0px 12px, #ff5555 0px 0px 0px 15px; */
  /* box-shadow: #32def6 0px 0px 0px 3px, #00c3ed 0px 0px 0px 6px,
    #00a8e0 0px 0px 0px 9px, #00c3ed 0px 0px 0px 12px, #0271bc 0px 0px 0px 15px; */
  box-shadow: #0271bc 0px 0px 0px 3px, #008dcf 0px 0px 0px 6px,
    #00a8e0 0px 0px 0px 9px, #00c3ed 0px 0px 0px 12px, #32def6 0px 0px 0px 15px;
  border-radius: 1rem;
  opacity: 0.9;
  font-size: 1.5rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.montserrat {
  font-family: "Montserrat", Helvetica, sans-serif, Arial;
  line-height: 2;
}

.space {
  line-height: 2;
}

.noMargin {
  margin: 15px;
}

.wikiHover {
  transition: all 0.5s ease;
  display: block; /* Ensure SVG is treated as a block element */
  overflow: hidden; /* Hide any overflow */
}

.wikiHover:hover {
  cursor: pointer;
  transform: scale(2);
}
.wikiHover:hover .colorChange {
  fill: #33def5;
}

.wikiButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.colorChange {
  transition: all 0.5s ease;
}

.botPadding {
  padding-bottom: 15px;
}

.highlight {
  background-color: #fedc4a;
}

.easy-grid {
  display: grid;
  grid-gap: var(--g, 2rem);
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
}

.example-block {
  width: 100%;
  background: #3789bb;
  border-radius: 15px;
}

#jack {
  width: 100vw;
  height: 100vh;
  border-radius: 15px;
}

.italic {
  font-style: italic;
}
