.footer {
  background-color: transparent;
  text-align: center;
  font-size: 2vmin;
  padding: 1vmin;
}

@media (min-width: 1150px) {
  .footer {
    font-size: 2.5vmin;
  }
}

@media (max-width: 941px) {
  .removeMe {
    display: none;
  }
  .footer {
    font-size: 3vmin;
  }
}
footer a.noStyle {
  transition: opacity 0.25s ease; /* Smooth transition for opacity on hover */
  opacity: 1; /* Default opacity is one */
}

.footer:hover a.noStyle {
  opacity: 0.3; /* Reduced opacity */
}

.footer a.noStyle:hover {
  opacity: 1; /* Full opacity for the hovered */
}
