.footer {
  background-color: transparent;
  text-align: center;
  font-size: 2vmin;
  padding: 1vmin;
}

@media (min-width: 1150px) {
  .footer {
    font-size: 2.5vmin;
  }
}

@media (max-width: 941px) {
  .removeMe {
    display: none;
  }
  .footer {
    font-size: 3vmin;
  }
}

/* Styles for the links in the footer */
.footer a.noStyle {
  transition: opacity 0.25s ease; /* Smooth transition for opacity */
  opacity: 1; /* Default opacity */
}

/* Dim only the icons when they are directly hovered */
.footer a.noStyle:hover {
  opacity: 0.3; /* Dim the icon when the icon itself is hovered */
}

/* Ensure text elements for non icons are not affected by hover */
.noHoverEffect {
  opacity: 1 !important; /* Maintain full opacity */
  transition: none !important; /* Disable transitions */
  color: inherit !important; /* Keep original color */
}
