nav {
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  background-color: #eaeaea;
  transition: top 500ms ease-in-out;
}

.test {
  width: 200px;
}

.navbarTabs {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
}
