.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  background-color: #eaeaea;
}

.navbarSite {
  align-items: center;
}

.navbarTabs {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navItem {
  display: inline-block;
  margin: 0 2rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  /* font-size: 3vw; */
  position: relative;
  opacity: 1; /* Default full */
  transition: 0.3s ease; /* Smooth transition for opacity on hover */
}

.navItemStyling {
  color: #000;
  text-decoration: none;
}

.navItem::before,
.navItem::after {
  content: "";
  position: absolute;
  display: block;
  border: 0px solid transparent;
  width: 0%;
  height: 0%;
  transition: 0.15s ease;
}
.navItem::before {
  width: 0%;
  height: 0%;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  /* transition-delay: 0.15s; */
} /* This is the bottom right corner */

.navItem::after {
  width: 0%;
  height: 0%;
  top: 0;
  left: 0;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
} /* This is the top left corner */

.navbarTabs:hover .navItem {
  opacity: 0.5; /* Dim all items when hovering over the navbarTabs */
} /* Don't put below .navbarTabs .navItem:hover or it will break*/
.navbarTabs .navItem:hover {
  opacity: 1; /* Full opacity for the item being hovered over */
}

.navItem:hover::before,
.navItem:hover::after {
  width: 10px;
  height: 10px;
  border-color: #000;
}

.navLogo {
  width: 7rem;
  /* width: 10vw; */
}
