.sunContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  margin-top: 100px;
  z-index: -1;
}

.sunChild {
  margin: auto;
  width: 350px;
  height: 350px;
}

.cls-1 {
  fill: #ffe67d;
}

.cls-2 {
  fill: #fedc4a;
  animation: rotate 300s linear infinite, sunRays 5s alternate infinite;
  transform-origin: center;
  /* animation-name: animate;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes sunRays {
  0% {
    filter: drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 1.5px #fff)
      drop-shadow(0px 0px 5px #ffe67d) drop-shadow(0px 0px 10px #fedc4a);
  }

  100% {
    filter: drop-shadow(0px 0px 2px #fff) drop-shadow(0px 0px 3px #fff)
      drop-shadow(0px 0px 7.5px #ffe67d) drop-shadow(0px 0px 15px #fedc4a);
  }
}
