@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Montserrat&family=Roboto&family=Roboto+Mono&display=swap");
@import "./styles/Navbar.css";
@import "./styles/About.css";
@import "./styles/Waves.css";
@import "./styles/Footer.css";
@import "./styles/Header.css";
@import "./styles/Sun.css";
@import "./styles/Portfolio.css";

a {
  text-decoration: none;
}

body {
  position: relative;
  font-family: "Lato";
  margin: 0;
  background-color: #3789bb;
  /* background-color: #3789bb; */
  /* background-color: rgb(126, 126, 159); */
  /* background-color: #86c7f1; */
}
